<div class="page page-profile">
    <div class="divider divider-lg"></div>
    <div class="row">
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-danger">
                    <i class="fa fa-institution"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{vm.dashboard.totalRestaurants}}</p>
                    <p class="text-muted">Restaurants</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-warning">
                    <i class="fa fa-users"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{vm.dashboard.totalUsers}}</p>
                    <p class="text-muted">People</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-success">
                    <i class="fa fa-spoon"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{vm.dashboard.totalCuisines}}</p>
                    <p class="text-muted">Cusines</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                    <i class="fa fa-star"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{vm.dashboard.averageRatings}}</p>
                    <p class="text-muted">Avgerage Rating</p>
                </div>
            </div>
        </div>


    </div>

    <div class="divider divider-lg"></div>
    <div class="row ui-section">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>Restaurant Name</th>
                                <th>Address</th>
                                <th>Cuisine</th>
                                <th>Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="restaurant in vm.dashboard.restaurants | orderBy:'-rating'">
                                <td>{{restaurant.name}}</td>
                                <td>{{restaurant.street}}, {{restaurant.city}}, {{restaurant.state}} {{restaurant.zip}}</td>
                                <td><span style="margin:2px;" class="label label-success" ng-repeat="cuisine in restaurant.cuisines">{{cuisine}}</span></td>
                                <td><i ng-repeat="star in getStars(restaurant.rating) track by $index" class="fa fa-star"></i></td>
                            </tr>
                                                      
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>